{{template "layout.html" .}}
<div class="jumbotron text-center" style="background-color:#FFE;coror:#000">
			<h1 class="text-center">SemiRevel</h1>
		</div>


<body>
	<form action="/SemiRevel/thesis" method="POST" enctype="multipart/form-data">
    <h1 class="center-block text-info">卒論のタイトル変更</h1>
    <div class="alt-table-responseve">
        <table class="table">
					{{.flash.error}}
            <thead>
						</thead>
						<tbody>
							</tr>
									<th>卒論のタイトルを入力してください</th>
									<td><input type="text" class="form-control" name="thesis"></td>
							</tr>
</tbody>

        </table>
    </div>
		<input type="submit" value="登録" class="btn btn-success pull-right">
    </form>
    </body>
<br>
 {{template "footer.html" .}}
