<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
 	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	 	<title>GakugeiJob</title>
 		<link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
 		<link href="/public/css/signin.css" rel="stylesheet">
	</head>
	<body>
		<div class="jumbotron text-center" style="background-color:#FFF;color:#000">
 	 		<h1 class="text-center">ゼミ資料管理システム</h1>
 	 	</div>
 	 	<div class="container">

        	<form class="form-signin" action="/SemiRevel/login" method="POST">
	        	<h2 class="form-signin-heading text-center">Please sign in</h2>
	       		<input type="text" name="id" class="form-control" placeholder="User Id" maxlength="12" required autofocus>
	      	    <input type="password" name="password" class="form-control" placeholder="Password" maxlength="12" required>
	     	    <button class="btn btn-lg btn-primary btn-block" type="submit" name="login" value="Login">Sign in</button>
      		</form>
		</div> <!-- container -->
		<br><br>

		<hr>
 		<div class="footer"><p>&nbsp;&nbsp;&nbsp;&copy; by yutsukimiyashita</p></div>

  		<script src="/public/js/all.min.js"></script>
 		<script src="/public/js/bootstrap.min.js"></script>
	</body>
</html>
