<!DOCTYPE html>
<html>
{{template "header.html" .}}
	<body>
<div class="ui grid pointing menu">
            <div class="ui purple menu">
                <a class="active link item" href="/SemiRevel/home">
                    <i class="home icon"></i> Home
                </a>
								<a class="link item" href="/SemiRevel/mypage">
							my page
							  </a>
							  <a class="link item" href="/SemiRevel/create">
							    <i class="pencil alternate icon"></i>登録
							  </a>
								<a class="link item" href="/SemiRevel/materials">
							    <i class="file icon"></i>閲覧
							  </a>
								<a class="link item" href="/SemiRevel/user/thesis">
							    <i class="bookmark outline icon"></i>卒論タイトル
							  </a>
							  <div class="right menu">
									<a class="ui item" >
	 <i class="user icon"></i>ようこそ{{.id}}さん
 </a>
							    <div class="item">
							      <div class="ui icon input">
							        <input type="text" placeholder="Search...">
							        <i class="search link icon"></i>
                        </div>
                    </div>
										<a class="ui item" href="/SemiRevel/logout">
		 Logout
	 </a>
                </div>
            </div>
        </div>
    </div>
		<br>
		<div class="jumbotron text-center" style="background-color:#694F91;color:#000">
			<h1 class="text-center">SemiRevel</h1>
		</div>

	</body>

	<script>
	$('.ui.purple.menu')
    .on('click', '.item', function() {
      if(!$(this).hasClass('dropdown')) {
        $(this)
          .addClass('active')
          .siblings('.item')
            .removeClass('active');
      }
    });

		menu = {};

// ready event
menu.ready = function() {

  // selector cache
  var
    $menuItem = $('.menu a.item, .menu .link.item'),
    // alias
    handler = {
      activate: function() {
        $(this)
        .addClass('active')
        .closest('.ui.menu')
        .find('.item')
        .not($(this))
        .removeClass('active');
      }
    }
  ;

  $menuItem
    .on('click', handler.activate)
  ;

};


// attach ready event
$(document).ready(menu.ready);
	</script>
</html>
