<div class="alt-table-responsive">
  <table class="table">
    <thead>
      <tr>
          <th>名前</th>
          <th>年</th>
          <th>月日</th>
          <th>資料</th>
          <th>議事録</th>
      </tr>
    </thead>
    <tbody>
        {{range .materials}}
          <tr>
          <td>{{.Name}}</td>
          <td>{{.Year}}</td>
              <td>{{.Month}}/{{.Day}}</td>
              <td><a href={{.File_path}} download>{{.Material_name}}</td>
                <td><pre>{{.Comment}}</pre></td>
          </tr>
          {{end}}

    </tbody>
  </table>
</div>
