<div class="alt-table-responsive">
    <table class="ui purple celled striped table">
        <thead>
        <tr>
            <th>年</th>
            <th>月日</th>
            <th><i class="file alternate icon"></i>資料</th>
            <th><i class="comment alternate outline icon"></i>議事録</th>
        </tr>
        </thead>
        <tbody>
        {{range .materials}}
        <tr>
            <td>{{.Year}}</td>
            <td>{{.Month}}/{{.Day}}</td>
            <td><a href={{.File_path}} download><i class="cloud download icon"></i>{{.Material_name}}</a></td>
            <td>
                <pre>{{.Comment}}</pre>
                <div class="right aligned">
                    <a href="" id="delete" onClick="disp()"><i class="trash alternate icon"></i></a>
                    <a href="/SemiRevel/material/edit/{{.Material_id}}"><i class="edit icon"></i></a>
                </div>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>


    <script type="text/javascript">

        function disp() {

            var target = document.getElementById("delete");
            var materialId = target.value;

            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if (confirm('本当に削除しますか？')) {

                target.href = "/SemiRevel/material/delete/" + materialId; // example_confirm.html へジャンプ

            } else {

                window.alert('キャンセルされました'); // 警告ダイアログを表示

            }
            // 「キャンセル」時の処理終了

            return true;

        }

    </script>


</div>
