{{template "layout.html" .}}

<body>
		<form class="ui form" action="/SemiRevel/create" method="POST" enctype="multipart/form-data">

  <div class="field">
    <label>タイトル</label>
		{{with $field := field "material_name" .}}
		<div class="controls {{$field.ErrorClass}}">
    <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}">
		{{if $field.Error}}<span class="text-error">*{{$field.Error}}</span>{{end}}
	</div>
	{{end}}
  </div>

	<div class="fields">
    <div class="four wide field">
      <label>日付</label>
				<select name="year" id="year">
				</select>
    </div>
    <div class="three wide field">
      <label>　 </label>
			<select name="month" id="month">
			</select>
    </div>
    <div class="six wide field">
      <label> 　</label>
      <div class="two fields">
        <div class="field">
					<select name="day" id="day">
					</select>
        </div>
      </div>
    </div>
  </div>


  <div class="field">
    <label>ファイル</label>
		{{with $field := field "file" .}}
		<div class="controls {{$field.ErrorClass}}">
			<input type="file" class="form-control" name="file">
				{{if $field.Error}}<span class="text-error">*{{$field.Error}}</span>{{end}}
		</div>
		{{end}}
  </div>

	<div class="field">
		<label>前回の議事録の内容</label>
		{{with $field := field "comment" .}}
		<div class="controls {{$field.ErrorClass}}">
			<textarea class="form-control" name="comment" id="comment" placeholder="前回の議論"></textarea>
				{{if $field.Error}}<span class="text-error">*{{$field.Error}}</span>{{end}}

		</div>
		{{end}}
	</div>

	<input type="submit" value="登録" class="ui inverted purple button">
	<br>
</form>

	</body>
	{{template "time.js" .}}
	{{template "footer.html" .}}
