{{template "layout.html" .}}

<div class="jumbotron text-center" style="background-color:#FFE;coror:#000">
			<h1 class="text-center">SemiRevel</h1>
		</div>


<body>
	<form action="/SemiRevel/material/{{.grade}}/{{.id}}" method="POST" enctype="multipart/form-data">
    <h1 class="center-block text-info">資料登録</h1>
    <div class="alt-table-responseve">
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <td><input type="text" class="form-control" name="material_name"></td>
                </tr>
                    <th>ファイル</th>
                    <td><input type="file" class="form-control" name="file"></td>
                </tr>
							</tr>
									<th>議事録の内容</th>
									<td><textarea class="form-control" name="comment" id="comment" placeholder="次回までやっていくことなど"></textarea></td>
							</tr>

						</thead>
        </table>
    </div>

    <input type="submit" value="登録" class="btn btn-success">
    <br>
    </form>
    </body>
 {{template "footer.html" .}}
