{{template "layout.html" .}}
<body>
	<!-- <form action="/SemiRevel/materials/grade/:grade" method="POST" >
    <input type="hidden" name="grade" value="1" lass="form-control">
      <input type="submit" value="M1" class="btn btn-success">
    </form>
<br>
    <form action="/SemiRevel/materials/grade/:grade" method="POST" >
      <input type="hidden" name="grade" value="4" lass="form-control">
        <input type="submit" value="B4" class="btn btn-success">
      </form>
<br>
      <form action="/SemiRevel/materials/grade/:grade" method="POST" >
        <input type="hidden" name="grade" value="3" lass="form-control">
          <input type="submit" value="B3" class="btn btn-success">
        </form> -->

<li><a href="/SemiRevel/materials/grade/1">m1</a></li>
<li><a href="/SemiRevel/materials/grade/4">4</a></li>

    </body>
 {{template "footer.html" .}}
