{{template "layout.html" .}}

<div class="jumbotron text-center" style="background-color:#FFE;coror:#000">
      <h1 class="text-center">SemiRevel</h1>
    </div>

<body>
	<!-- <form action="/SemiRevel/materials/grade/:grade" method="POST" >
    <input type="hidden" name="grade" value="1" lass="form-control">
      <input type="submit" value="M1" class="btn btn-success">
    </form>
<br>
    <form action="/SemiRevel/materials/grade/:grade" method="POST" >
      <input type="hidden" name="grade" value="4" lass="form-control">
        <input type="submit" value="B4" class="btn btn-success">
      </form>
<br>
      <form action="/SemiRevel/materials/grade/:grade" method="POST" >
        <input type="hidden" name="grade" value="3" lass="form-control">
          <input type="submit" value="B3" class="btn btn-success">
        </form> -->

<li><a href="/SemiRevel/materials/grade/M1">M1</a></li>
<li><a href="/SemiRevel/materials/grade/B4">B4</a></li>
<li><a href="/SemiRevel/materials/grade/B3">B3</a></li>

    </body>
 {{template "footer.html" .}}
